<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCX4ZNve6yNhkKfPTm9N3hA9Yb9ucqa8-U</string>
	<key>GCM_SENDER_ID</key>
	<string>411875900022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yasarduman.E-Commerce-App</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-77573</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-77573.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411875900022:ios:35260b7fa8634ccdc83d57</string>
</dict>
</plist>